<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Spring Boot Board</title>

<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

</head>
<body>

<nav th:replace="navbar :: navbarFragment"></nav>

<h2 class="container my-5">Spring Boot Board</h2>

<th:block layout:fragment="content"></th:block>

<script th:src="@{/bootstrap.min.js}"></script>

<th:block layout:fragment="deleteScript"></th:block>


</body>
</html>